doctype html
html
	head(lang="en")
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title Manfred Raggl digitalArtist
		meta(name="description", content="digital Artist, Innsbruck Tirol, Animation Postproduction, Postproduktion,Programming, Programmierung, Webapps, Webdevelopment ")
		meta(name="keywords", content="digital Artist, Webdeveloper, After Effects Artist, Cinema4D, Nuke, Shake, Animation, Postproduction, Programmierung, HTML, CSS, Javascript, JS, Webdevelopment, Webapps, Laravel, PHP, AngulaJS, VueJS")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
		// if lt IE 9
			script(type="text/javascript", src="js/html5shiv.js")
		link(rel="stylesheet", href="css/main.css", type="text/css")
	body
		
		header
			h1 Manfred Raggl 
				span digitalArtist
			nav
				ul
					li.button 
						a(href='#work') Work
					li.button 
						a(href='#about') About
					li.button 
						a(href='#contact') #[i.fa.fa-envelope-o]

			
			.box
				span Film
				span Animation
				span Postproduction
				span Programming
				span Web
		section.main
			#work
				h2 Work
				#projects
					.project
						.img-holder.vimeoplayer(data-vimeoid="140804338")
							img( src="img/naturfilmtage.jpg" alt="Naturfilmtage Commercials" )
							//- img(src="img/naturfilmtage.jpg")
						.info
							h3 Naturfilmtage - Commercials
							p.client #[span Client:] MediaT
							p.tags 
								span Animation
								span Postproduction	
					.project
						.img-holder.dark.vimeoplayer(data-vimeoid="116463148")
							img(src="img/bilding-kinospot.jpg" alt="bilding Kunst -und Architekturschule Innsbruck")
						.info
							h3 bilding - Commercial
							p.client #[span Client:] bilding Kunst- und Architekturschule
							p.tags 
								span Animation
								span Postproduction
					.project
						.img-holder.vimeoplayer(data-vimeoid="140301473")
							//- iframe(src="//player.vimeo.com/video/140301473"  frameborder="0" webkitallowlfullscreen mozallowfullscreen allowfullscreen)
							img(src="img/alpenvorland.jpg" alt="Alpenvorland" )
						.info
							h3 Alpenvorland - Rear Projection
							p.client #[span Client:] Fabian Kametz - Tiroler Landestheater
							p.tags 
								span Animation

					.project
						.img-holder.link(data-url="http://weltderkinder.at/cms/de/dvd-gesamtausgabe-arno-stern-der-malort")
							img(src="img/arno_stern_dvd_box.jpg")
						.info
							h3 Arno Stern - Die Wiener Vortragsreihe
							p.client #[span Client:] Welt der Kinder
							p.tags 
								span Postproduction
								span DVD Production / Mastering
					.project
						.img-holder.vimeoplayer(data-vimeoid="140517779")
							img(src="img/pokos.jpg" alt="POKO's")
						.info
							h3 Pokos - Commercial
							p.client #[span Client:] Photography Robert Fleischanderl
							p.tags 
								span Animation
								span Postproduction					
					
					.project
						.img-holder.link(data-url="http://weltderkinder.at/cms/de/keynote-videos-symposiums-vii")
							img(src="img/symposium2014.jpg")
						.info
							h3 Videos Kindheit, Jugend, Gesellschaft Symposium 2014
							p.client #[span Client:] Welt der Kinder
							p.tags 
								span Editing
								span Postproduction

					.project
						.img-holder.dark.link(data-url="http://freiestheater.at")
							img(src="img/freiestheater.png")
						.info
							h3 Freiestheater - Homepage
							p.client #[span Client:] Freiestheater Innsbruck
							p.tags 
								span Webdevelopment
								span Programming

					.project
						.img-holder.link(data-url="http://schmittundlair.at")
							img(src="img/schmittundlair.jpg")
						.info
							h3 Schmitt und Lair Homepage
							p.client #[span Client:] Medienwerkstatt
							p.tags 
								span Webdevelopment
								span Programming
					.project
						.img-holder.vimeoplayer(data-vimeoid="126246928")
							img(src="img/gewalt-im-alter.jpg" alt="Gewalt im Alter")
						.info
							h3 Gewalt im Alter - Commercial
							p.client #[span Client:] Medienwerkstatt
							p.tags 
								span Camera
								span Postproduction
								span DCP
					.project
						.img-holder
							img(src="img/sandoz.jpg")
						.info
							h3 Sandoz - Intro Imagefilm
							p.client #[span Client:] Filmatelier
							p.tags 
								span Animation
					.project
						.img-holder.vimeoplayer(data-vimeoid="141452467")
							img(src="https://i.vimeocdn.com/video/538474210.jpg")
						.info
							h3 Mils Electronic - CD-Logoanimation
							p.client #[span Client:] Mils Electronic
							p.tags 
								span Animation
					.project
						.img-holder.dark.vimeoplayer(data-vimeoid="140518028")
							img(src="https://i.vimeocdn.com/video/537499364.jpg")
						.info
							h3 Physiotherm Sensocare - P.O.S Video
							p.client #[span Client:] Physiotherm Infrarotkabinen
							p.tags 
								span Animation
			
			#about
				h2 About
				img(src="img/manfred-raggl.png")
				.me
					p 
						| Manfred Raggl - digital Artist based in Innsbruck.
						br
						br
						| Worked with agencies, filmmakers, directors, production companies and brands including:
						br
						| Mils Electronic, ORF, Sandoz, Suchard, Swarovski, Physiotherm and Viking to name a few.	
						br
						br
						|	This site showcases a selection of works.

			#contact
				h2 Contact
				form#form.form(action="send.php" method="post")
					ul
						li
							label(for="name") Name:
							input(type="text" placeholder="Name" id="name" name="name" tabindex="1" required)
						li
							label(for="email") Email:
							input(type="email" placeholder="Email" id="email" name="email" tabindex="2" required)
						li
							label(for="message") Message:
							textarea(placeholder="Message ..." id="message" name="message" tabindex="3" required)
					input(type="submit", value="Send", id="submit")
					
		footer
			div
				h3 Manfred Raggl digitalArtist • Dreiheiligenstraße 17 • 6020 Innsbruck • Austria
				

		script(type="text/javascript", src="js/libs.js")
		
		//- script(type="text/javascript", src="src/js/vendor/jquery.stellar.min.js")

		script(type="text/javascript", src="js/bundle.js")

		//- script(type="text/javascript", src="js/test.js")
		// if IE
			script(type="text/javascript", src="js/placeholder.js")